.header__logo {
  max-width: 142px;
  margin: 0;
  padding-bottom: 41px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    max-width: 104px;
    padding-bottom: 28.6px;
  }
}
