.header__line {
  margin-top: 41px;
  opacity: 0.7;
  color: #545454;
}

@media screen and (max-width: 768px) {
  .header__line {
    margin-top: 31px;
  }
}

@media screen and (max-width: 425px) {
  .header__line {
    margin-top: 31px;
  }
}
