.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 880px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-top: 28px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
  }
}
