.profile__title {
  font-size: 42px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 48px;
  margin: 0 auto;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 26px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__title {
    font-size: 27px;
    margin: 26px auto 0;
  }
}
