.profile__info {
  margin: auto  auto auto 30px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    margin: 0 auto;
  }
}
